h3{
    margin-bottom: .6em;
}
ul{
    margin-top: 1em;
}
li{
    border: 1px solid var(--primary--clr);
    padding: .5em;
    border-radius: 5px;
    margin-block: .5em;
}

li p{
    margin-block: .3em;
}